<div class = "col-md-10 text-left bg-white rounded shadow py-3">
<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Color</th>
        <th>ExpiryDate</th>
        <th>InStock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let p of products | async">
        <td>{{p.id}}</td>
        <td><a [routerLink] = "['/product', p.id]">{{p.title}}</a></td>
        <td>{{p.price}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.color}}</td>
        <td>{{p.expiryDate}}</td>
        
        <td><ng-container *ngIf="p.inStock; then yes else no">
        </ng-container>
         
        <ng-template #yes>
            <button class ="btn btn-success">Yes</button>
            
         </ng-template>
  
         <ng-template #no>
            
            <button class = "btn btn-danger">No</button>
          </ng-template></td>
      </tr>
    </tbody>
  </table>
</div>