<hr/>


<div class="container">
    <div class ="row">
        <div class = "col-md-4">

        </div>
        <div class = "col-md-5 text-left bg-white rounded shadow py-3">
      <h1><b>Enter the Product Id to Delete</b></h1>
      <form (ngSubmit) ='deleteProduct()' [formGroup] = 'productForm' novalidate class = "form">
        <i>Id:</i><input formControlName = 'id' type = "number" class = "form-control" placeholder="Enter Id"/>
        <div class = "alert alert-danger" *ngIf = "productForm?.get('Id')?.hasError('required') && productForm?.get('Id')?.touched">
          Id is required
      </div>
        <br/>
        
        <button type = "submit" class = "btn btn-danger">Delete Product</button>
        <button type = "button" (click) = 'cancel()' class = "btn btn-info">Reset</button>
    </form>
      </div>
      
  </div>
</div>
