<hr/>

<div class="container">
    <div class ="row">
        <div class = "col-md-4">

        </div>
        <div class = "col-md-5 text-left bg-white rounded shadow py-3">
            <h1><b>Enter the Product Details to Update</b></h1>
      <form (ngSubmit) ='updateProduct()' [formGroup] = 'productForm' novalidate class = "form">
        <i>Title:</i><input formControlName = 'title' type = "string" class = "form-control" placeholder="Enter Title"/>
        <div class = "alert alert-danger" *ngIf = "productForm?.get('Title')?.hasError('required') && productForm?.get('Title')?.touched">
          Title is required
      </div>
        <br/>
        <i>Price:</i><input formControlName = 'price' type = "number" class = "form-control" placeholder="Enter Price"/>
        <div class = "alert alert-danger" *ngIf = "productForm?.get('Price')?.dirty && productForm?.get('Price')?.errors && productForm?.get('Price')?.errors?.priceRange">
          Price should be greater than 0
      </div>
        <br/>
        <i>Quantity:</i><input formControlName = 'quantity' type = "number" class = "form-control" placeholder="Enter Quantity"/>
        <div class = "alert alert-danger" *ngIf = "productForm?.get('Quantity')?.hasError('required') && productForm?.get('Quantity')?.touched">
          Quantity is required
      </div>
        <br/>
        <i>Expiry Date:</i><input formControlName = 'expiryDate' type = "string" class = "form-control" placeholder="Enter Expiry Date"/>
        <div class = "alert alert-danger" *ngIf = "productForm?.get('ExpiryDate')?.hasError('required') && productForm?.get('ExpiryDate')?.touched">
          ExpiryDate is required
      </div>
        <br/>
        <i>Color:</i><input formControlName = 'color' type = "string" class = "form-control" placeholder="Enter Color"/>
        <div class = "alert alert-danger" *ngIf = "productForm?.get('Color')?.hasError('required') && productForm?.get('Color')?.touched">
          Color is required
      </div>
        <br/>
        
      <input class ="form-check-input" formControlName = "inStock" type ="radio" [value] = "true">
      <label class ="form-check-label" for = "inlineRadio2">In Stock</label>
      <br>
      <input class ="form-check-input" formControlName = "inStock" type ="radio" [value] = "false">
      <label class ="form-check-label" for = "inlineRadio2">Out of Stock</label>
        <br/>
        <button type = "submit" class = "btn btn-danger">Update Product</button>
        <button type = "button" (click) = 'cancel()' class = "btn btn-info">Reset</button>
        
    </form>
      </div>
      
  </div>
</div>
